* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background: linear-gradient(to right, #c02425, #f0cb35);
}

h1 {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 60px;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.timer {
    margin: auto;
    display: flex;
    align-items: center;
    height: 50vh;
    width: 50vw;
}

.timer div {
    height: 150px;
    flex-grow: 1;
}

div.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.time p:nth-child(1) {
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(87, 76, 76);
    font-size: 25px;
}

div.time p:nth-child(2) {
    font-size: 40px;
}

.forms {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms-info {
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
}

input,
select {
    border: 1px solid black;
    font-size: 15px;
    background: linear-gradient(to left, #d45555, #eed15d);
}

button {
    border: 1px solid black;
    font-size: 17px;
    padding: 4px;
    margin: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #d45454, #ebce5b);

}